---
layout: page
title: Festival Impaciencia
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
		<div class="col-md-6 col-sm-12">
		  <div class="block">
			<img src="{{ site.baseurl }}/img/logo_impaciencia_festival.png" alt="Img">

		  </div>
		</div><!-- .col-md-5 close -->
		<div class="col-md-6 col-sm-12">
          <div class="block">
			  <h1 class="animated fadeInUp" ><b>ARTE, CIENCIA Y TECNOLOGÍA</h1>
			  <h1 class="animated fadeInUp" style="font-style:italic;"> Don’t Do It Yourself <br>Do It Together!</h1>
			  <p class="animated fadeInUp">El <b>28 de abril</b> ven a celebrar la <b>multidisciplinaridad</b> a la Universidad de Málaga </p>

        </div><!-- .col-md-7 close -->


      <!--<div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp"><b>ARTE, CIENCIA, TECNOLOGÍA</b> <br>Don’t Do It Yourself <br>Do It With Us</h1>
          <p class="animated fadeInUp">El <b>28 de abril</b> ven a celebrar la <b>multidisciplinaridad</b> a la Universidad de Málaga </p>
        </div>
	</div>-->
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>¿Qué es el Festival Impaciencia?</h2>
            <p>Bajo el lema “Don’t Do It Yourself, Do It Together!”, creamos un evento lúdico y gratuito.</p>
          </div>
          <p>Podremos ver, tocar y descubrir creaciones y dinámicas multidisciplinares relacionadas con la investigación, la comunicación, las ingenierías o el arte. Siguiendo la línea de la filosofía DIY (Do it Yourself) se darán las herramientas e inspiración para que las personas interesadas puedan realizar sus propios estudios e indagaciones.</p>

		  <p>Otras actividades que tendrán lugar es la entrega de premios del concurso Impaciencia, talleres, charlas, stands, juegos, música y cerveza para todos los asistentes en un ambiente gratuito, distendido y lúdico. Todo el que se quiera acercar tendrá la oportunidad de aprender más sobre robótica,  nuevas tecnologías aplicadas a la investigación, arte digital, la cultura OpenSource, visualización de datos, interactividad y DIY.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <!-- <div class="col-md-5 col-sm-12">
        <div class="block">
           <img src="img/wrapper-img.png" alt="Img">
		  <div class="video"> <figure> <iframe width="440" height="440" src="//www.youtube.com/embed/OQ2Q9f-3FCo" frameborder="0" allowfullscreen></iframe> </figure> </div>
        </div>
	<	/div>--><!-- .col-md-5 close -->
		<div class="col-md-5">
		<div class="video"> <figure> <iframe width="440" height="440" src="//www.youtube.com/embed/OQ2Q9f-3FCo" frameborder="0" allowfullscreen></iframe> </figure> </div>
    	</div>
	</div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Valores</h2>
      <p><b>¿Tienes una pregunta? ¡Resuélvela! </b> Promocionar la cultura investigadora, tanto científica como en humanidades, desde un enfoque multidisciplinar e integrador.</p>
      <p><b>¡No esperes a que lo hagan otros, hazlo tú! </b> Fomentar la cultura “OpenSource” y “DIY” en la comunidad educativa</p>
      <p><b>¡Abajo barreras en el conocimiento!</b> Creación de un marco donde los estudiantes puedan desarrollar proyectos de investigación (en ciencias, humanidades, arte, comunicación o ingenierías) de forma autónoma.</p>
      <a href="http://www.impaciencia.org" class="btn btn-view-works">Conoce más de Impaciencia</a>
    </div>
  </div>
</div>
</section>

<section id="schedule">
  <div class="container">
    <div class="row">

        <div class="block">
          <div class="section-title">
            <h2>Programación</h2>
            <p> <b>La entrada al festival será libre y gratuita</b>, no obstante para acceder a los talleres tendrás que registrarte en las actividades a través de esta página web. </p>
          </div>
          <a target="_blank" href="{{ site.baseurl }}/img/schedule.jpg"><img src="img/schedule.jpg"alt="Img"></a>
		  <a class="btn btn-default btn-call-to-action" href="{{site.baseurl}}/schedule_reg">Reserva tu actividad</a>
        </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<!-- <section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Nuestras Actividades</h2>
        <p></p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Charlas</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Talleres</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Instalaciones</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Stands</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Mundo Maker</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Humanidades Digitales</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Open Science</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Buen rollo</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>¡Estamos en constante búsqueda de Impacientes que quieran participar!</h2>
          <p>Si te mola lo que has leído y crees que puedes participar, no lo dudes más, ¡escríbenos! </br> Aún estás a tiempo de tener tu momento de gloria. </p>
              <a class="btn btn-default btn-call-to-action" href="mailto:info@imapciencia.org">Envíanos un correo</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<!--
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->
