---
layout: page
title: Programación
permalink: /schedule_reg/
---

    <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Echa un vistazo a nuestra programación para el día 28 de abril.</h1>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">

        <div class="block">
          <div class="section-title">
            <h2>Programación</h2>
            <p><b>La entrada al festival será libre y gratuita</b>, no obstante para acceder a los talleres tendrás que registrarte en las actividades a través de esta página web.</p>
          </div>
          <a target="_blank" href="{{ site.baseurl }}/img/schedule.jpg"><img src="{{ site.baseurl }}/img/schedule.png"alt="Img"></a>
        </div>
    </div>
  </div>
</section>


<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Actividades abiertas durante todo el día</h2>
        <p>Estas actividades no requieren inscripción previa. ¡Los talleres que están más abajo sí, corre que se acaban las plazas!</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-trophy"></i>
          <h4>Premios y Dinámicas</h4>
          <p>Durante todo el día podréis pasaros por el Stand de Impaciencia y empezar a jugar en "A través del tiempo". Camisetas, tickets y cosicas molonas os esperan.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-utensils"></i>
          <h4>Foodtrucks y Paella a euro</h4>
          <p>Será un día repleto de emoción y tendremos que reponer fuerzas durante en algún momento. Por esto a medio día contaremos con una paella (1€ la porción) y foodtrucks durante todo el día Ñammy. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-beer"></i>
          <h4>Bebida</h4>
          <p>Gracias a Victoria contaremos con una barra de cerveza y tinto a 50cnts (Necesaria la pulsera de mayoría de edad).</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-music"></i>
          <h4>Música</h4>
          <p>Para amenizar toda la tarde contaremos con una gran selección de música gracias a John Hurt</p>
        </div>
      </div>
  		</div>
  		<div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
		  <img style="width: 150px;" src="{{site.baseurl}}/img/logos/OLM.png">
          <h4>Stand OpenLab Madrid</h4>
          <p>No os olvidéis visitar el espacio de OpenLab Madrid en el que nos sorprenderán con sus biocócteles y demás inventos</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
		  <img style="width: 150px;" src="{{site.baseurl}}/img/logos/vive_lady.png">
          <h4>Stand Realidad Virtual</h4>
          <p>Rupture Events nos mostrarán el potencial de la realidad virtual en investigación. Pásate por su puesto para probar las HTC Vive :)</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
		  <img style="width: 150px;" src="{{site.baseurl}}/img/logos/Innovart.jpg">
          <h4>Stand Innovart</h4>
          <p>Cuatro jóvenes viajaron a Cabo Cañaveral para visitar las instalaciones de NASA y el Centro Espacial Kennedy. Conoce su historia en el stand y su charla.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
		  <img style="width: 150px;" src="{{site.baseurl}}/img/logos/malagamakerspace.png">
          <h4>Stand Malaga MakerSpace</h4>
          <p>Quieren abrir el primer makerspace de Málaga en la UMA y no pararán hasta conseguilo. ¡A por ello!</p>
        </div>
      </div>
  	</div>
  	<div class="row">
	  <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <img style="width: 150px;" src="{{site.baseurl}}/img/logos/Logo_CEC.jpg">
		  <h4>Stand Malaga Consejo de Estudiantes de Ciencias</h4>
		  <p>Experimentos que te dejarán con la boca abierta. La ciencia no ha sido nunca tan interesante.</p>
		</div>
	  </div>

	  <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="fas fa-comments"></i>
		  <h4>Zona de Charlas</h4>
		  <p>Todas la charlas del Salón Principal están abiertas hasta el límite del aforo, si quieres puedes reservar tu sitio más abajo.</p>
		</div>
	  </div>

	  <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="fas fa-box-open"></i>
		  <h4>Zona de Diseño con Cartón</h4>
		  <p>El cartón es un material muy versátil. Ven a trabajarlo y sorprendenos con lo creativo que puedes llegar a ser</p>
		</div>
	  </div>

	  <div class="col-sm-6 col-md-3">
		<div class="service-item">
	  <img style="width: 150px;" src="{{site.baseurl}}/img/logos/Ludoteca.JPG">
		  <h4>Zona de Juegos de Mesa</h4>
		  <p>Lex Ludi Malacitana nos han preparado una selección de juegos de mesa que pondrán a prueba tu ingenio y capacidad de investigación.</p>
		</div>
	  </div>

	  </div>
	  <div class="row">
	  <div class="col-sm-6 col-md-3">
		<div class="service-item">
	  <img style="width: 150px;" src="{{site.baseurl}}/img/logos/open_hardware.png">
		  <h4>Exposición de Instrumentos de Investigación Open</h4>
		  <p>Son muchos las herramientas que están abiertas y que se pueden construir de forma libre. Ven a ver alguna de ellas en la Sala del primer piso</p>
		</div>
	  </div>

	  <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="fas fa-users"></i>
		  <h4>Performace Hypermedia</h4>
		  <p>Un dojo en el que arte, ciencia, tecnología, negocio y pensamiento colisionen en una zona cero transdisciplinar.</p>
		</div>
	  </div>

	  <div class="col-sm-6 col-md-3">
		<div class="service-item">
	  <img style="width: 150px;" src="{{site.baseurl}}/img/logos/IMPACIENCIA_logo.svg">
		  <h4>Entrega de Premios Impaciencia</h4>
		  <p>Presentados por Anibal Bueno, haremos publico los premios de la primera edición del concurso Impaciencia</p>
		</div>
	  </div>

	  <div class="col-sm-6 col-md-3">
		<div class="service-item">
	  <img style="width: 150px;" src="{{site.baseurl}}/img/logos/td_av_icon.png">
		  <h4>Transdisciplina A/V Showcase</h4>
		  <p>El colectivo transdisciplina A/V cerrará la jornada con un espéctaculo visual y músical</p>
		</div>
	  </div>

    </div>
  </div>
</section>

	<script>
	$(document).ready(function() {
	  var options = {
	    valueNames: [ 'titulo', 'desc_actividad', 'palabras_clave', 'categoria', 'hora_inicio' ]
	  };

	  var lista_actividades = new List('container_actividades', options);

	      $('.search').on('keyup', function(event) {

	      if($('.list').children().length === 0) {

		$('.not-found').css('display', 'block');

	      } else {

		$('.not-found').css('display', 'none');

	      }
	    });
	} );
	</script>


  <section id="container_actividades">
  <div class="container">
    <div class="row">
        <div class="block">
          <div class="section-title">
            <h2>Registro en actividades</h2>
            <p style="color: #eee;">Aquí puedes apuntarte en toda actividad que a tu cuerpo le plazca</b> </p>
          </div>


    <div id="searchbox">
      Buscar: <input class="search" placeholder="Search" /></br>
      <a href="javascript:void(0);" class="sort" data-sort="hora_inicio">Ordenar por hora</a></br>
      <a href="javascript:void(0);" class="sort" data-sort="categoria">Ordenar por categoría</a>
    </div>

    <div style="clear:both"></div>

    <div class="list">

      {% for actividad in site.data.actividades %}

      <div class="container">

        <div class="row palabras_clave">
          <div class="col-md-12 titulo">
            <h3>{{actividad.titulo}}</h3>
          </div>
        </div>


        <div class="row">
          <div class="col-md-2">
            <img src="{{actividad.foto}}" class="img_actividad">
          </div>


          <div class="col-md-2">
            <p>
            <b>Categoría:</b> <span class="categoria">{{actividad.categoria}}</span></br>
            <b>Palabras clave:</b> <br><i>{{actividad.keywords}}</i></p>
            <b>Monitores:</b> <br><i>{{actividad.monitor}}</i></p>
          </div>

          <div class="col-md-4 desc_actividad">
            <p><b>Descripción:</b> {{actividad.descripcion}}</p>
          </div>

          <div class="col-md-2 desc_actividad">
            <p><b>Inicio: </b>
              <span class="hora_inicio">{{actividad.hora_inicio}}</span><br>
              <b>Fin: </b>
              <span class="hora_inicio">{{actividad.hora_final}}</span><br>
              <b>Lugar: </b><br>
              <span class="hora_inicio">{{actividad.lugar}}</span>
            </p>
          </div>

          <div class="col-md-2">
			{% if actividad.status == "free" %}
            <p align="center" color="black"><a color="black" target="_blank" href="{{actividad.link}}" class="btn btn-default btn-call-to-action">Reserva tu plaza!</a></br></p>
			{% else %}
			<h3>Plazas agotadas</h3>
			{% endif %}
          </div>
        </div>


      </div>


      {% endfor %}

    </div>
    <div class="not-found" style="display:none; margin-bottom:15px">No se encontraron resultados</div>
  </section>








        </div>
    </div>
  </div>

</div>
</div>
</section>




<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>¡Estamos en constante búsqueda de Impacientes que quieran participar!</h2>
          <p>Si te mola lo que has leído y crees que puedes participar, no lo dudes más, ¡escríbenos! </br> Aún estás a tiempo de tener tu momento de gloria. </p>
          <a class="btn btn-default btn-call-to-action" href="mailto:info@imapciencia.org">Envíanos un correo</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
