<!-- footer Start -->
<footer>

	<div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Patrocinadores y Colaboradores </h2>
		  <img src="{{ site.baseurl }}/img/logos/logos.png"alt="Img" width="100%">
        </div>
      </div>
    </div>


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="http://www.impaciencia.org">Sobre Nosotros</a></li>
            <li><a href="mailto:info@impaciencia.org">Contacto</a></li>
            <li><a href="http://www.impaciencia.org">Proyecto Impaciencia</a></li>
            <!-- <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>-->
          </ul>
        </div>
        <p>Made with LOVE by IMPACIENCIA.</p>
      </div>
    </div>
  </div>
</footer>
